body#body {background-color: black;
}
#entreIngre{
    margin-left:0px;
    color: white;
    width:1000px;
}
#entrePizza{
    margin-left:250px;
    color: white;
    width:100px;
}
#entreBoisson{
    margin-left:0px;
    color: white;
    width:1000px;
}

#legend{
    margin-left:0px;
    color: white;
}
#login{
    margin-left:270px;
    color: white;
    text-transform: capitalize;
}
#contenu_w{
    margin-left:250px;
    color: white;
    width:450px;
    text-transform: capitalize;
}
#contenu_b{
    margin-left:250px;
    color: black;
    width:450px;
    text-transform: capitalize;
}
#contenu_bL{

    color: black;
    width:180px;
    text-transform: capitalize;
}
#color_b{
    color: black;
    text-transform: capitalize;
}
#color_w{
    color: white;
    text-transform: capitalize;
}
#contenu_w2{
    margin-left:20px;
    color: white;
    width:210px;
}
#contenu_b2{
    margin-left:20px;
    color: black;
    width:210px;

}
#contenu{
    color: black;
    width:250px;
}
#table{
    color: white;
    text-transform: capitalize;
}
#botonC{
    margin-left:150px;
}
input[type=text] {
    width: 170%;
    padding: 0px 5px;
    margin: 2px ;
    color: white;
    background-color: black;
}
input[type=text]:disabled {
    width: 20%;
    padding: 0px 5px;
    margin: 2px ;
    color: white;
    background-color: black;
}

input[type=password] {
    width: 170%;
    padding: 0px 5px;
    margin: 2px ;
    color: white;
    background-color: black;
}

input[type=submit] {
    background-color: black;
    border: 1px solid #ddd;
    color: white;
    padding: 2px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=number]{
    width: 30%;
    background-color: black;
    border: 1px solid #ddd;
    color: white;
    padding: 2px 10px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer; 
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    color: white;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: black;}

#customers tr:hover {background-color: red;}


#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: coral;
    color: white ;
}

.cb { width:15px; height:15px; position:absolute; }

li {
    display:inline-block;
    color:white;
    margin-right:10px;
}
#message{
    margin-left:250px;
    color: yellow;
    width:450px;
}