<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head">
    </head>
    <body id="body">
        <div class="container">
            <header th:replace="header">
            </header>  
            <div class="row">
                <form class="form-horizontal" method="POST" th:action="@{/ajoutPizza}" th:object="${pizza}">

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-1">
                            <br /><legend id="legend">  Liste des pizzas </legend><br />
                            <div class="col-lg-10 col-lg-offset-1">
                                <table id="customers" >
                                    <thead>
                                    <th>Pizzas</th>
                                    <th>Ingredient(s)</th>
                                    </thead>
                                    <tr th:each="pizza : ${pizzas}">
                                        <td id="contenu_w" th:text="${#strings.toLowerCase(pizza.nomProduit)}">
                                        </td>
                                        <td align="center" id="contenu_w"> 
                                            <span  th:each="ingredient : ${pizza.ingredients}">
                                                <span th:text="' -' + ${ingredient.nomIngredient}"></span>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-10 col-lg-offset-1">
                            <br /><legend id="legend">  Nom de la nouvelle pizza </legend><br />
                        </div>
                        <div id="entrePizza">
                            <input required="true" th:field="*{nomProduit}" type="text" class="form-control"
                                   placeholder="Entrez nom pizza" autofocus="autofocus" name="nomProduit"/>
                            <p th:if="${#fields.hasErrors('nomProduit')}" class="label label-danger" th:errors="*{nomProduit}"></p>
                        </div>
                        <div  id="message">
                            <br /><span id="contenu_w2" th:text="${message}"></span>
                        </div>
                    </div>
                    <div class=" form-group ">
                        <div class="col-lg-10 col-lg-offset-1">
                            <br /> <legend id="legend">Liste des ingrédients à associer</legend><br />

                            <div class="col-lg-10 col-lg-offset-1">
                                <table id="customers" >
                                    <th colspan="4">Ingredients</th>
                                    <th:block th:each="ingredient: ${ingredients}">
                                        <tr>
                                            <td id="contenu_w"> <input class="form-check-input"
                                                                       type="checkbox"  th:name="${ingredient.nomIngredient}"/>
                                                <label th:text="${#strings.toLowerCase(ingredient.nomIngredient)}"></label>
                                            </td>
                                        </tr>
                                    </th:block>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-3 col-sm-offset-9 ">
                            <input type="submit" value="Ajouter a la liste" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
