<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head"></head>
    <body id="body">
        <div class="container">
            <header th:replace="header">
            </header>  
            <div class="col-lg-10 col-lg-offset-1">
                <br /><legend id="legend">Listes des boissons</legend><br />
                <div class="col-lg-10 col-lg-offset-1">
                    <table id="customers" >
                        <th colspan="4">Boisson</th>
                        <th colspan="4">Prix</th>
                        <th:block th:each="boisson : ${boissons}">
                            <tr>
                                <td id="contenu_w" colspan="4" th:text="${#strings.toLowerCase(boisson.nomProduit)}">.</td>
                                <td id="contenu_w" align="center" th:text="${#numbers.formatDecimal(boisson.prix, 0, 'COMMA', 2, 'POINT')+ ' €'}"></td>
                            </tr>
                            <tr>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
            <form class="form-horizontal" th:object="${boisson}" method="post">
                <div class="row form-group">
                    <div class="col-lg-10 col-lg-offset-1">
                        <br /> <legend id="legend"> Nom de la nouvelle boisson </legend> <br />
                    </div>

                    <div class="col-sm-offset-2 col-sm-2">
                        <input required="true" th:field="*{nomProduit}" type="text" class="form-control pizza"
                               placeholder="Entrez nom boisson" autofocus="autofocus" name="nomProduit"/>
                        <p th:if="${#fields.hasErrors('nomProduit')}" class="label label-danger" th:errors="*{nomProduit}"></p>

                    </div>
                </div>
                <div class="col-lg-10 col-lg-offset-1">
                    <br /><legend id="legend">Prix de la boisson </legend> <br />
                </div>   
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="number" required="true" th:field="*{prix}" th:name="prix" th:value="1.59" step="0.01"  placeholder="Entrez prix" class="form-control"
                           autofocus="autofocus"/>
                    <p th:if="${#fields.hasErrors('prix')}" class="label label-danger" th:errors="*{prix}"></p>

                </div>
                <div class="row form-group">
                    <div class="col-sm-4 col-sm-offset-3">
                        <span th:text="${message}"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3 col-sm-offset-9 ">
                        <br /><input type="submit" value="Ajouter a la liste" />
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
