<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head"></head>
    <body id="body">
        <div class="container">
            <header th:replace="header">  
            </header>
            <div class="row">
                <form class="form-horizontal" method="POST" th:action="@{/ajoutTaille}" th:object="${taille}">
                    <div class=" form-group ">
                        <div class="col-lg-10 col-lg-offset-1">
                            <div>
                                <br /><legend id="legend">Liste des tailles déjà enregistrées</legend><br />
                            </div>
                            <div class="col-lg-10 col-lg-offset-1">
                                <table id="customers" >
                                    <th>Taille</th>
                                    <tr th:each="taille : ${tailles}">

                                        <td  id="contenu_w" align="center" th:text="${#strings.toLowerCase(taille.nomTaille)}"></td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1">
                                <br /><legend id="legend">  Nom de la nouvelle taille </legend><br />
                            </div>
                            <div class="col-sm-offset-2 col-sm-2">
                                <input required="true" th:field="*{nomTaille}" type="text" class="form-control pizza" 
                                       placeholder="Entrez nom taille" autofocus="autofocus" name="nomTaille"/>
                                <p th:if="${#fields.hasErrors('nomTaille')}" class="label label-danger" th:errors="*{nomTaille}"></p>
                            </div>
                        </div>
                        <div  id="message">
                            <br /><span th:text="${message}"></span> <br />
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3 col-sm-offset-9 ">
                                <br /><input type="submit" value="Ajouter a la liste" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>