<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head"></head>
    <body id="body">
        <div class="container">
            <header th:replace="header">
            </header>  
            <div class="col-lg-10 col-lg-offset-1" >
                 <br /><legend id="legend">Tarifs déjà ajoutées </legend>
                <table id="customers"><br />
                    <thead>
                    <th>Pizzas</th>
                    <th>Tailles et prix</th>
                    </thead>
                    <tr th:each="ingredient : ${ingredients}">
                        <td id="contenu_w" th:text="${#strings.toLowerCase(ingredient.nomIngredient)}" align="center">
                        </td>
                        <td id="contenu_w">
                            <ul th:each="taille : ${tailles}">
                                <p th:each="tarifSupplement : ${tarifSupplements}"
                                   th:if="${tarifSupplement.tarifSupplementPK.idIngredient}==${ingredient.id} and ${tarifSupplement.tarifSupplementPK.idTaille==taille.id}"
                                   th:text="'-'+${#strings.toLowerCase(taille.nomTaille)}+' : '+ ${#numbers.formatDecimal(tarifSupplement.prixSupplement, 0, 'DEFAULT', 2, 'DEFAULT')} + '€'">
                                </p>
                            </ul>
                        </td>
                    </tr>
                </table>
                <br /><legend id="legend">Ajouter tarif </legend>
                <form th:object="${tarifSupplement}" method="post">        
                    <table id="customers"><br />
                        <thead>
                        <th>Pizzas</th>
                        <th>Tailles</th>
                        <th>Prix</th>
                        </thead>
                        <tr>
                            <td>
                                <select  name="ingredient"  th:field="*{tarifSupplementPK.idIngredient}" id="contenu_bL">
                                    <option th:each="ingredient : ${ingredients}"
                                            th:value="${ingredient.id}"
                                            th:text="${#strings.toLowerCase(ingredient.nomIngredient)}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select name="taille" th:field="*{tarifSupplementPK.idTaille}" id="contenu_bL">
                                    <option th:each="taille : ${tailles}"
                                            th:value="${taille.id}"
                                            th:text="${#strings.toLowerCase(taille.nomTaille)}">
                                    </option>
                                </select>
                            </td>
                            <td align="center">
                                <input type="number" th:field="*{prixSupplement}" th:value="7.59" step="0.01"  placeholder="7.59" />
                                <input type="submit" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>
