<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head"></head>
    <body id="body">
        <div class="container">
            <header th:replace="header">
            </header>
            <div class="row">
                <form class="form-horizontal" method="POST" th:action="@{/ajoutIngredient}" th:object="${ingredient}">
                    <div class=" form-group ">
                        <div class="col-lg-10 col-lg-offset-1">
                            <div>
                                <br /><legend id="legend">Liste des ingrédients déjà enregistrés</legend><br />
                            </div>
                            <div class="col-lg-10 col-lg-offset-1">
                                <table id="customers" >
                                    <th colspan="10">Ingredient</th>
                                    <th:block th:each="ingredient : ${ingredients}">
                                        <tr>
                                            <td  colspan="10" id="contenu_w" align="center" th:text="${#strings.toLowerCase(ingredient.nomIngredient)}">.</td>
                                        </tr>
                                    </th:block>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1">
                                <br /><legend id="legend">  Nom du nouveau ingredient </legend><br />
                            </div>
                            <div class="col-sm-offset-2 col-sm-2">
                                <input required="true" th:field="*{nomIngredient}" type="text" class="form-control pizza" 
                                       placeholder="Entrez nom ingredient" autofocus="autofocus" name="nomIngredient"/>
                                <p th:if="${#fields.hasErrors('nomIngredient')}" class="label label-danger" th:errors="*{nomIngredient}"></p>
                            </div>
                        </div>
                        <div  id="message">
                            <br /><span th:text="${message}"></span> <br />
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3 col-sm-offset-9 ">
                                <br /><input type="submit" value="Ajouter a la liste" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>