<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head"></head>
    <body id="body">
        <div class="container">
            <header th:replace="header">
            </header>  
            <div class="col-lg-10 col-lg-offset-1">
                <br /><legend id="legend">Commander </legend><br />
                <form th:object="${ligneCommande}" method="post">
                    <table id="customers">
                        <thead>
                        <th><h4 align="center">Boisson</h4></th>
                        <th><h4 align="center">Prix</h4></th>
                        <th><h4 align="center">Quantité</h4></th>
                        <th><h4 align="center">Ajouter</h4></th>
                        </thead>
                        <tr th:each="boisson : ${boissons}" >
                             <td   id="contenu_w" th:field="*{boisson.id}" th:text="${#strings.toLowerCase(boisson.nomProduit)}">.</td>
                                <td th:field="*{boisson.prix}" id="contenu_w" align="center" th:text="${#numbers.formatDecimal(boisson.prix, 0, 'COMMA', 2, 'POINT')+ ' €'}"></td>
                            <td align="center"  id="contenu_b">
                                <input  th:field="*{quantite}" type="number" min="0" max="20" />
                            </td>
                            <td align="center">
                                <input type="hidden" name="boisson" th:value="${boisson.id}"/>
                                <input type="submit" value="ajouter"/>
                            </td>
                        </tr>
                    </table>
                </form>
                <form class="button" th:action="@{/voirPanier}" method="post" >
                    <br /> <input type="submit" value="voir panier" /> <br />
                </form>
            </div>
        </div>
    </body>
</html>
