<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head">
    </head>
    <body id="body"> 
        <div class="container">
            <header th:replace="header">
            </header> 
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <center>
                        <table id="customers">
                            <thead>
                            <th>  <div class="text-center"><h3>Commande Validée!</h3></div> </th>
                            </thead>
                            <tr>
                                <td>
                                    <div class="text-center">
                                        Nous vous remercions de votre achat! <br />
                                        <span th:text="${idCommande}"/>!
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </center>  
                </div>
            </div>
        </div>
    </body>
</html>
