<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head"></head>
    <body id="body">
        <div class="container">
            <header th:replace="header">
            </header>  
            <div class="col-lg-10 col-lg-offset-1">
                <br /><legend id="legend">Commander </legend><br />
                <form th:object="${ligneCommande}" method="post">
                    <table id="customers">
                        <thead>
                        <th><h4 align="center">Pizzas</h4></th>
                        <th><h4 align="center">Ingrédients</h4></th>
                        <th><h4 align="center">Tailles</h4></th>
                        <th><h4 align="center">Quantité</h4></th>
                        <th><h4 align="center">Ajouter</h4></th>
                        </thead>
                        <tr th:each="pizza : ${pizzas}" >
                            <td align="center" th:text="${pizza.nomProduit}" id="contenu_w">
                            </td>
                            <td align="center"  id="contenu_w">
                                <span th:each="ingredient : ${pizza.ingredients}">
                                    <span th:text="'-'+${ingredient.nomIngredient}"></span>
                                </span>
                            </td>
                            <td id="contenu_b">
                                <select th:field="*{taille.id}"  >
                                    <div th:each="taille : ${tailles}">   
                                        <option th:each="tarif : ${tarifs}"
                                                th:if="${tarif.tarifPK.idPizza}==${pizza.id} and ${tarif.tarifPK.idTaille}==${taille.id}"
                                                th:text="${taille.nomTaille} + ' - ' + ${#numbers.formatDecimal(tarif.prix, 0, 'COMMA', 2, 'POINT')+ ' €'}"
                                                th:value="${taille.id}">
                                        </option>
                                    </div>
                                </select>
                            </td>
                            <td align="center"  id="contenu_b">
                                <input  th:field="*{quantite}" type="number" min="0" max="20" />
                                <br /><span  id="color_w" th:text="${message}"></span> <br />
                            </td>
                            <td align="center">
                                <input type="hidden" id="typePizza" name="typePizza" th:value="${pizza.id}"/>
                                <input type="submit" value="ajouter"/>
                                <br /><span  id="color_w" th:text="${messageA}"></span> <br />
                            </td>
                        </tr>
                    </table>
                </form>
                
                <form class="button" th:action="@{/voirPanier}" method="post" >
                    <br /> <input type="submit" value="voir panier" /> <br />
                </form>
            </div>
        </div>
    </body>
</html>
