<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="head">
    </head>
    <body>
        <div class="container">
            <header th:replace="header">  
            </header>
            <h1>Commande n° <span th:text="${commande.id}"></span> :</h1>
            <div class="row">
                <span class="col-md-3 element">Date: <span th:text="${#dates.format(commande.dateCommande, 'dd/MM/yyyy HH:mm')}"></span></span>
                <span class="col-md-3 element">Client: <span th:text="${commande.user.userName}"></span></span>
                <span class="col-md-3 element">Montant: <span  th:text="${#numbers.formatDecimal(commande.total, 0, 'COMMA', 2, 'POINT')+ ' €'}"></span></span>
                <span class="col-md-3 element">Statut: <span th:text="${commande.statut}? 'Traitée' : 'En cours' "></span></span>
            </div>
            <div class="row">
                <h2><span class="col-md-4 element">Quantité:</span></h2>
                <h2><span class="col-md-4 element">Pizza: </span></h2>
                <h2><span class="col-md-4 element">Taille:</span></h2>
            </div>
            <ul th:each="ligneCommande : ${commande.ligneCommandes}" class="liste">
                <li class="list-element element-bordered row">
                    <span  id="contenu_b" class="col-md-4" th:text="${ligneCommande.quantite}"></span>
                    <span  id="contenu_b" class="col-md-4" th:text="${ligneCommande.produit.nomProduit}"></span>
                    <span  id="contenu_b" class="col-md-4" th:text="${ligneCommande.taille.nomTaille}"></span>
                </li>
            </ul>
        </div>
    </body>
</html>
