<div class="row"> 
    <div class="col-lg-12">
        <br/> <img src="../static/images/pizza.jpg"  th:src="@{images/pizza.jpg}" class="img-circle img-responsive"/>
    </div>
</div>
<div class="row">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ecode Pizza's</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/" th:href="@{/}" >Home</a></li>
                <li><a href="/listePizzas" th:href="@{/listePizzas}">Carte</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" href="#">Gestion des Commandes
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-" href="/commander" th:href="@{/commander}">Commander</a></li>
                        <li><a class="dropdown-" href="/panier" th:href="@{/panier}">Panier</a></li>
                        <li><a class="dropdown-" href="/mesCommandes" th:href="@{/mesCommandes}">Mes commandes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN')" href="#">Gestion des ajouts
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-" href="/ajoutPizza" th:href="@{/ajoutPizza}">Ajouter pizza</a></li>
                        <li><a class="dropdown-" href="/ajoutIngredient" th:href="@{/ajoutIngredient}">Ajouter ingredient</a></li>
                        <li><a class="dropdown-" href="/ajoutTaiile" th:href="@{/ajoutTaille}">Ajouter taille</a></li>
                        <li><a class="dropdown-" href="/ajoutTarif" th:href="@{/ajoutTarif}">Ajouter tarif</a></li>
                        <li><a class="dropdown-" href="/ajoutTarifSup" th:href="@{/ajoutTarifSup}">Ajouter tarif sup</a></li>
                        <li><a class="dropdown-" href="/" th:href="@{/ajoutBoisson}">Ajouter boisson</a></li>                       
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/inscription" th:href="@{/inscription}" sec:authorize="isAnonymous()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" sec:authorize="isAnonymous()"><span class="glyphicon glyphicon-log-in"></span> Login
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="contenu">
                        <li>
                            <form th:action="@{/login}" method="post">
                                <div class="" >
                                    <br/><label for="username" id="contenu_b2">Username</label>
                                    <input required="true" type="text" class="form-control" id="contenu_w2"
                                           placeholder="Entrez username" autofocus="autofocus" name="username"/>
                                    <div id="contenu_w2"  th:if="${param.error ne null}"> Username invalides</div>
                                    <br/><label for="password" id="contenu_b2">Password</label>
                                    <input required="true" type="password" class="form-control" id="contenu_w2"
                                           placeholder="Entrez password" autofocus="autofocus" name="password"/>

                                    <div id="message"  th:if="${param.error ne null}"> Password invalides</div>
                                    <div id="contenu" class="alert-normal" th:if="${param.logout ne null}">Vous avez été déconnecté.</div>
                                    <div   id="contenu_b2">
                                        <span th:text="${message}"></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-offset-7">
                                        <input type="submit" value="Connexion" />
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"  sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" >Welcome</a>
                <li><a href="/logout" th:href="@{/logout}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"> <span class="glyphicon glyphicon-log-out"></span> Login out</a></li>
                </li>
            </ul>
        </div>
    </nav>
</div>
