<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head">
    </head>
    <body id="body">
        <div class="container">
            <header th:replace="header">
            </header>  
            <form class="form-horizontal" th:object="${user}" th:action="@{/inscription}" method="POST">
                <div class="col-lg-10 col-lg-offset-1">
                    <br /><legend class="" id="legend">S'incrire</legend><br />
                </div>
                <br /><label id="contenu_w">  Username </label><br />
                <input required="true" id="contenu_w" th:field="*{userName}" type="text" class="form-control pizza" 
                       placeholder="Entrez Username" autofocus="autofocus" name="userName"/><br/>
                <p th:if="${#fields.hasErrors('userName')}" class="label label-danger" th:errors="*{userName}"></p>
                <label id="contenu_w">Email</label>
                <input required="true" id="contenu_w" th:field="*{email}" type="text" class="form-control pizza"
                       placeholder="Entrez email" autofocus="autofocus" name="email"/><br />
                <p th:if="${#fields.hasErrors('email')}" class="label label-danger" th:errors="*{email}"></p>
                <label id="contenu_w">Password</label>><br />
                <input required="true" id="contenu_w" th:field="*{password}" type="password" class="form-control pizza"
                       placeholder="Entrez password" autofocus="autofocus" name="password"/>
                <p th:if="${#fields.hasErrors('password')}" class="label label-danger" th:errors="*{password}"></p>

                <div  id="message">
                    <br /><span th:text="${message}"></span>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3 col-sm-offset-9 ">
                        <input type="submit" value="Enregistrer" />><br />
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
