<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head"></head>
    <body id="body">
        <div class="container">
            <header th:replace="header">
            </header>  
            <div class="col-lg-10 col-lg-offset-1">
                <br /><legend id="legend">Liste des pizzas </legend><br />
                <table id="customers">
                    <thead>
                    <th>Pizza</th>
                    <th>Ingrédients</th>
                    <th>Tailles et prix</th>
                    </thead>
                    <tr th:each="pizza : ${pizzas}" id="contenu_w">
                        <td align="center"   th:text="${pizza.nomProduit}">
                        </td>
                        <td align="center" id="contenu_w">
                            <span  th:each="ingredient : ${pizza.ingredients}">
                                <span th:text="' -' + ${ingredient.nomIngredient}"></span>
                            </span>
                        </td>
                        <td>
                            <ul th:each="taille : ${tailles}">
                                <p th:each="tarif : ${tarifs}"
                                   th:if="${tarif.tarifPK.idPizza}==${pizza.id} and ${tarif.tarifPK.idTaille==taille.id}"
                                   th:text="'-'+${taille.nomTaille}+' : '+ ${#numbers.formatDecimal(tarif.prix, 0, 'DEFAULT', 2, 'DEFAULT')} + '€'">
                                </p>
                            </ul>
                        </td>
                    </tr>
                </table>

                <br /><legend id="legend">Liste des supplements </legend>

                <table id="customers"><br />
                    <thead>
                    <th>Supplements</th>
                    <th>Tailles et prix</th>
                    </thead>
                    <tr th:each="ingredient : ${ingredients}">
                        <td id="contenu_w" th:text="${#strings.toLowerCase(ingredient.nomIngredient)}" align="center">
                        </td>
                        <td id="contenu_w">
                            <ul th:each="taille : ${tailles}">
                                <p th:each="tarifSupplement : ${tarifSupplements}"
                                   th:if="${tarifSupplement.tarifSupplementPK.idIngredient}==${ingredient.id} and ${tarifSupplement.tarifSupplementPK.idTaille==taille.id}"
                                   th:text="'-'+${#strings.toLowerCase(taille.nomTaille)}+' : '+ ${#numbers.formatDecimal(tarifSupplement.prixSupplement, 0, 'DEFAULT', 2, 'DEFAULT')} + '€'">
                                </p>
                            </ul>
                        </td>
                    </tr>
                </table>

                <br /><legend id="legend">Listes des boissons</legend><br />

                <table id="customers" >
                    <th colspan="4">Boisson</th>
                    <th colspan="4">Prix</th>
                    <th:block  th:each="boisson : ${boissons}">
                        <tr>
                            <td  id="contenu_w" colspan="4" th:text="${#strings.toLowerCase(boisson.nomProduit)}">.</td>
                            <td  id="contenu_w" align="center" th:text="${#numbers.formatDecimal(boisson.prix, 0, 'COMMA', 2, 'POINT')+ ' €'}"></td>
                        </tr>
                        <tr>
                        </tr>
                    </th:block>
                </table>
                <br />
            </div>
        </div>
    </body>
</html>
