<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head">
    </head>
    <body id="body">
        <div class="container">
            <header th:replace="header">
            </header>  
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1" >
                    <legend class="" id="legend">Login page</legend>
                    <p th:if="${loginError}">Mauvais username ou password</p>
                </div>
                <form th:action="@{/login}" method="post">
                    <div class="col-lg-2 col-lg-offset-1" >
                        <br/><label for="username" id="contenu_w">Username</label><br/>
                        <input required="true" type="text" class="form-control" id="contenu_w"
                               placeholder="Entrez username" autofocus="autofocus" name="username"/>
                        <div id="contenu_w"  th:if="${param.error ne null}"> Username invalides</div>
                        <br/><label for="password" id="contenu_w">Password</label><br/>
                        <input required="true" type="password" class="form-control" id="contenu_w"
                               placeholder="Entrez password" autofocus="autofocus" name="password"/>

                        <div id="contenu_w"  th:if="${param.error ne null}"> Password invalides</div>
                        <div id="message" class="alert-normal" th:if="${param.logout ne null}">Vous avez été déconnecté.</div>
                        <div  id="message">
                            <br /><span th:text="${message}"></span> <br />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 col-sm-offset-9 ">
                            <br /><input type="submit" value="Connexion" /><br />
                        </div>
                    </div>
                </form>
            </div>
        </div>  
    </body>
</html>