<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head">
    </head>
    <body id="body">
        <div class="container">
            <header th:replace="header">
            </header>  
            <div class="col-lg-10 col-lg-offset-1">
                <h3>
                    <label class="label label-warning asba">Commandes:</label>
                </h3>
                <table id="customers">
                    <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Date</th>
                            <th scope="col">Nombre de produits</th>
                            <th scope="col">Total</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="commande : ${allCommandes}">
                            <td scope="row" class="loulou" th:text="${commande.user.getUserName()}"></td>
                            <td scope="row" class="loulou"
                                th:text="${#dates.format(commande.dateCommande, 'dd-MM-yyyy HH:mm')}"></td>
                            <td scope="row" class="loulou" th:text="${commande.ligneCommandes.size()}"></td>
                            <td scope="row" class="loulou"
                                th:text="${#numbers.formatDecimal(commande.getTotal(), 0, 'DEFAULT', 2, 'DEFAULT')} + ' €'"></td>

                            <td scope="row">
                                <a type="submit" class="btn btn-default" th:href="@{|/detailCommande/${commande.id}|}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>