<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head  th:replace="head">
    </head>
    <body id="body">
        <div class="container">
            <header th:replace="header">
            </header>  
            <div class="col-lg-10 col-lg-offset-1">
                <br /><legend id="legend">Panier </legend>
                <div class="col-lg-12">
                    <table id="customers">
                        <thead>
                        <th>  <h4 align="center">Pizzas</h4> </th>
                        <th>  <h4 align="center">Taille</h4></th>
                        <th>  <h4 align="center">Quantité</h4></th>
                        <th>  <h4 align="center">Montant</h4></th>
                        </thead>
                        <span th:each="ligneCommande : ${panier}" id="contenu_w">
                            <tr  id="contenu_w">
                                <td th:text="${ligneCommande.produit.nomProduit}">
                                </td>
                                <td th:text="${ligneCommande.taille.nomTaille}">
                                </td>
                                <td th:text="${ligneCommande.quantite}">
                                </td>
                                <td th:text="${#numbers.formatDecimal(ligneCommande.totalLigne, 0, 'COMMA', 2, 'POINT')+ ' €'}">
                                </td>
                            </tr>
                        </span>
                        <tr>
                            <td colspan="5" align="center"><h4>Total de votre Commande : <span th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')+ ' €'}"></span></h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" align="center">
                                <form class="button" th:action="@{/validerCommande}" method="post">
                                    <input type="submit" value="Valider commande"/>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
